h1{
    text-align: center;
    margin-bottom: 0;
}

.status-chip{
    padding: 3px;
    font-weight: bold;
    border-radius: 8px;
    width: 60px;
    text-align: center;
    color: #fff;
    margin-left: 10px;
}

.status-online{
    background-color: #009900;
}
.status-offline{
    background-color: #990000;
}
.dialog-form{
    width: 300px;
    margin: auto;
}

.dialog-form-field{
    width: 300px;
    margin: auto;
}

.dialog-field{
    margin: 20px auto auto auto;
    padding: 10px;
    //text-align: center;
    display: block;
}

.dialog-action{
    text-align: center;
    width: 200px;
    margin:auto;
}

.status-field{
    padding:0 20px 0 20px;
}

.comment-field input{
    width: 100%;
    padding-top: 10px;
}

.mat-slide-toggle-bar{
    background-color: #00ff00 !important;
}

.mat-slide-toggle-thumb{
    background-color: #009900 !important;
}