<div class="body">
  <p>
    <mat-toolbar class="header-bar">
      <mat-toolbar-row>
        <mat-icon aria-hidden="true">school</mat-icon>
        <span class="title-text">出勤状況一覧</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
  <mat-card class="board-card">
    <mat-card-content>
    <table mat-table [dataSource]="memberList" class="members-table">
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>氏名</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th class="status-col" mat-header-cell *matHeaderCellDef>ステータス</th>
        <td class="status-col" mat-cell *matCellDef="let element"> 
          <div class="status-chip">
            <div class="status-chip status-offline" *ngIf="element.status == 0">退勤</div>
            <div class="status-chip status-online" *ngIf="element.status == 1">出勤中</div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="comment">
        <th class="comment-col" mat-header-cell *matHeaderCellDef>コメント</th>
        <td class="comment-col" mat-cell *matCellDef="let element"> {{element.comment}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th class="button-col" mat-header-cell *matHeaderCellDef ></th>
        <td class="button-col" mat-cell *matCellDef="let row">
          <button class="edit-button">
            <mat-icon aria-hidden="true">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
    </table>
  </mat-card-content>
  </mat-card>
</div>